<!DOCTYPE html>
<html>
<head>
	<title> Keepo.com </title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style/style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Catamaran|Pacifico" rel="stylesheet">

	<script type="text/javascript" src="js/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/function.js"></script>
</head>
<body>
	<section id="loader">
		<img src="img/spin.gif">
		<br><br>
		<label>Mohon Tunggu ... </label>
	</section>
	<!-- THIS HEADER -->
	<header class="main-header">
		<section class="logo">
			<img src="img/logo.png">
		</section>
		<!-- NAV -->
		<nav id="category-nav">
			<ul class="main-category">
				<li class="active"><a href="#home">Home</a></li>
				<li><a href="#news">News</a></li>
				<li><a href="#fashion">Fashion</a></li>
				<li><a href="#sport">Sport</a></li>
				<li><a href="#art">Art</a></li>
				<li><a href="#music">Music</a></li>
			</ul>
		</nav>

		<section id="header-button">
			<button type="button" class="button">Button 1</button>
			<button type="button" class="button">Button 2</button>
		</section>

		<div id="icon-bar-responsive">
			<a href="javascript:void(0)" class="btn-open">
			</a>
		</div>
	</header>
 
	<!-- THIS IS CONATINER -->
	<main id="main-container" ng-app='myApp' ng-controller='infinityScrollerController' infinite-scroll='loadMore()' infinite-scroll-distance='0'>
			
			<!-- For content -->
			<section infinityscroll="loadMore()" style="height: 400;overflow: hidden;">
				<section ng-repeat="article in feeds">
					<section ng-if="!article.feed">
						<figure class="ad">
							<figcaption class="img">
								<a href="{{article.ad.link}}">
									<img src="{{article.ad.image}}">
								</a>
							</figcaption>

							<h3>{{article.ad.title}}</h3>
						</figure>
					</section>

					<section ng-if="article.feed">
						
						<figure class="card">
							
							<figcaption class="img-card">
								<img src="img/IMG.jpg">
							</figcaption>

							<figure class="main-card">
								<figcaption class="title-card">
									<a href="{{article.link}}">
										<h3>{{article.feed.title | limitTo:numLimit}}</h3>
									</a>
								</figcaption>

								<figcaption class="content-card">
									<article class="description-card">
										<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
									</article>

									<figure class="author-card">
										<figcaption class="circle"></figcaption> <h5>{{article.feed.author}}</h5>
									</figure>
								</figcaption>
							</figure><!-- end main-card -->
							<figure class="footer-card">
								<figcaption class="view">
									<i class="fa fa-eye"></i> 10.5k
								</figcaption>

								<figcaption class="link-footer">
									<a href="#">entertainment</a>
								</figcaption>
							</figure>
						</figure>
					</section>
				</section><!--end card repeat-->
				<span ng-show="isLoading"><img src="img/142.gif" style="position: relative;margin-top:370px;z-index: 500;"></span>
			</section><!-- end angular load more -->
		</section>
	</main><!-- end main-container-->
</body>
</html>
<script type="text/javascript" src="js/controller.js"></script>