@import 'normalize';
@import 'responsiv';
@import 'font-awesome/scss/font-awesome';

$font 	: 'Pacifico', cursive;
$silver	: #e5e5e3;

body{
	background-color: $silver;
	color: #82817b;
	font-family: 'Catamaran', sans-serif;
}
#loader{
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	padding-top: 25%;
	float: left;
	text-align: center;
	overflow-x: hidden;
}
.active{
	background-color: rgba(232, 234, 237,0.5);
}

/*HEADER*/
.main-header{
	width: 100%;
	height:  100px;
	top: 0;
	left: 0;
	z-index: 999;
	position: fixed;
	background-color: #404856;
	position: none;
	font-family: $font;
	box-shadow: 5px 4px 4px 2px #a1a7a8;
	transition: all 0.4s ease-in-out;

	.logo {
		width: 200px;
		height: 100px;
		overflow: hidden;
		float: left;
		margin-left: 20px;
		margin-right: 20px;

		img{
			width: 200px;
		}
	}
	
	nav {
	  ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    float : left;
	  }

	  li { 
	  	height: 100px;
	    color: #fff;
	    margin: 0px;
	    float: left;
	    text-align: center;
	    position: relative;
	  }
	  li:hover{
	  	background-color: rgba(232, 234, 237,0.5);
	  	transition: 0.7s;
	  }

	  a {
	  	width: 80px;
	    display: block;
	    padding: 35px 20px 22px 20px;
	    text-decoration: none;
	    color: #fff;
	    cursor: pointer; 
	  }
	}

	#header-button{
		float: right;
		padding: 30px;

		.button{
			background-color: #1ca6b2;
			border : none;
			color: #fff;
			font-size: 12px;
			border-radius: 20px;
			padding: 8px 17px;
			margin-right: 10px;
			cursor: pointer;
			
			&:hover{
				background-color: #fff;
				color: #1ca6b2;
				transition: 0.7s;
			}
		}
	}

	#icon-bar-responsive {
		display: none;
		float: left;
		width: 100px;
		position: absolute;

		.btn-open:after {
			font-size : 12px;
			color:#333;
			content: "\f0c9";
			font-family:"FontAwesome";
			transition-property:all .2s linear 0s;
			-moz-transition:all .2s linear 0s;
			-webkit-transition:all .2s linear 0s;
			-o-transition:all .2s linear 0s;
			text-decoration: none;
			color: #fff;
		}
		.btn-close:after {
			color:#fff;
			content:"\f00d";
			font-family:"FontAwesome";
			transition-property:all .2s linear 0s;
			-moz-transition:all .2s linear 0s;
			-webkit-transition:all .2s linear 0s;
			-o-transition:all .2s linear 0s;
			text-decoration: none;
			color: #fff;
		}
	}
}

/*THIS CONRAINER*/
#main-container{
	max-width: 1280px;
	height: 100%;
	padding-right: 35px;
  	padding-left: 65px;
  	padding-top: 120px; 
  	margin-right: auto;
  	margin-left: auto;
  	position: relative;
  	/*overflow: hidden;*/
  	.ad{
  		width: 280px;
		height: 450px;
		margin: 10px;
  		background-color: #fff8af;
		float: left;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		display: inline-block;
		opacity: 0;
		transition: all 0.6s ease-in-out;

		&.is-showing{
			opacity: 1;
		}

			img{
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: absolute;
				z-index: 200;
			}

			h3{
				position: absolute;
				color: #fff;
				z-index: 500;
				padding: 5px;
				top: 350px;
				background-color: rgba(76, 76, 71,0.5);
				text-decoration: none;
			}
  	}

  	/*-----*/
	.card{
		width: 280px;
		height: 450px;
		margin: 10px;
		background-color: #fff;
		float: left;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		display: inline-block;
		opacity: 0;
		transform: translateX(-40px);
		transition: all 0.4s ease-in;

		&.is-showing{
			opacity: 1;
			transform: translateX(0px);
			/*transition: all 0.3 ease-out;*/

		}

		&:hover{
			box-shadow : 5px 5px 2px 2px #949699;
			transition: 0.5s all ease-in-out;
		}
		&:hover .main-card .title-card a {
			color:#edc844;
			cursor: pointer;
			transition: 0.3s;
		}
		&:link .main-card .title-card a{
			background-color: #000;
			cursor: pointer;
		}
		&:visted{
			background-color: #000;
			cursor: pointer;
		}
		&:active{
			background-color: #000;
			cursor: pointer;
		}
		
		.overlay{
			width: 280px;
			height: 450px;
			position: absolute;
			background-color: red;
			/*background-color: rgba(219, 219, 219, 0.9);*/
			z-index: 10;
			opacity: 0;
			overflow: hidden;
			/*bottom : 100px;*/
			margin-left: 290px;
			/*float: left;*/
			/*display: block;*/
		}

		/*---------*/
		.main-card{
			/*background-color: red;*/
			margin : 0 10px;
			padding-top: 1px;
			position: relative;
			overflow: hidden;

			/*------*/
			.img-card{
				width: 100%;
				min-height: 170px;
				/*position: absolute;*/
				margin-top: -15px;
				margin-right: -15px;
				margin-bottom: 15px;
				margin-left: -15px;
				/*overflow: hidden;*/

				img{
					position: relative;
					
				}
			}

			.title-card {
				text-align: left;
				height: 70px;

				a{
					text-decoration: none;
					color: black;
					display: block;
				}
			}

			.description-card{
				font-size: 14px;
			}

			.author-card{
				font-size: 12px;
				height: 40px;

				.circle{
					width: 25px;
					height: 25px;
					border-radius: 50%;
					background-color: silver;
					float: left;
					margin-right: 10px;
					margin-top: -5px;
				}
			}
		}/*end main-card*/
		
		.footer-card{
			width: 100%;
			height: 50px;
			padding-left: 10px;
			margin: 0;
			top: 410px;
			left: 0;
			border : 1px solid $silver;
			position: absolute;
			display: block;

			border-top: 1px solid $silver;

			.view{
				width: 100px;
				padding-top: 10px;
				float: left;
				overflow: hidden;
			}
			.link-footer{
				display: inline-block;
				margin-left: 140px;
				float: left;
				margin-top: -20px;

				a{
					background-color: #e08f0d;
					color: #fff;
					padding: 1px 10px;
					text-decoration: none;
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}/*end footer-card*/
	}
}


